{
  "extends" : ["airbnb"],
  "rules": {
    "no-console": 0,
    "no-var": 0,
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "comma-dangle": ["error", {
      arrays: "always-multiline",
      objects: "always-multiline",
      imports: "always-multiline",
      exports: "always-multiline",
      functions: "ignore"
    }]
  },
  "env": {
    "mocha": true
  }
}
